body {
  margin: 0;
  padding: 0;
}

header {
  position: static;
  height: 20vh;
  background-color: #333333;
}

section {
  position: static;
  height: 80vh;
  background: url("https://source.unsplash.com/bhAbpxP-7Yw");
  background-size: cover;
  background-repeat: no-repeat;
}

#logo {
  width: 24vw;
  margin: 8vh 0 0 8vw;
}

#form_container {
  position: absolute;
  width:100%;
}

form {
  position: relative;
  margin: 30vh auto;
  width: 21vw;
  text-align: center;
}

input {
  margin:2vh;
  display: block;
}

#link_container {
  position:relative;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
